.header{
    width: 100%;
    background-color: #F6F6F6;
  }
  .heardNew{
    width: 100%;
    background-color: white;
    height: 112px;
    .hearder_inner{
      width: 1200px;
      margin: 0 auto;
      .logo{
        float: left;
        width: 329px;
        height: 58px;
        background: url(../image/header_logo.png) no-repeat;
        background-size: 100% 100%;
        margin: 32px 15px 0 0;
      }
    }
  }
  
  .search{
    float: left;
    height: 58px;
    margin: 30px 0 0 80px;
    .search_top{
      position: relative;
      width: 428px;
      border: 2px solid #fd4165;
      border-radius: 40px;
      height: 30px;
      padding: 2px 8px 2px 34px;
      input{
       border: none;
       outline: none;
       line-height: 30px;
       width: 352px;
       float: left;
       
      }
      input::-webkit-input-placeholder{
        font-size: 12px;
        color: #d3ccd3;
      }
      span{
        position: absolute;
        right: -1px;
        top: -1px;
        width: 74px;
        height: 36px;
        background: linear-gradient(90deg,#fd4165,#fc002d);
        border: 0;
        outline: none;
        border-radius: 0 20px 20px 0;
        color: #fff;
        font-size: 16px;
        padding: 0;
        line-height: 36px;
        cursor: pointer;
        text-align: center;
      }
      i{
        position: absolute;
        left:9px;
        top: 7px;
        width: 20px;
        height: 20px;
        color:  #d3ccd3;
        
      }
    }
  }
  .hearder_inner{
  .search_bottom{
    ul{
      padding-left: 15px;
      height: 18px;
      line-height: 18px;
      li{
          float: left;
        a{
          font-size: 12px;
          color: #474747;
        }
        span{
          background: #d3ccd3;
          height: 10px;
          width: 1px;
          margin: 0px 10px;
          display: inline-block;
          cursor: pointer;
        }
        :hover{
          color: red;
        }
      }
    }
  }
  }
  
  .hearder_inner{
    .mycart{
      width: 126px;
      height: 36px;
      border: 1px solid #f7f7f7;
      display: inline-block;
      margin: 30px 0 0 47px;
      line-height: 36px;
      position: relative;
      cursor: pointer;
      span:nth-child(1){
        margin: 0px 14px;
        color: red;
      }
      .cartnum{
        position: absolute;
        left: 25px;
        top: 1px;
        min-width: 14px;
        height: 14px;
        background: red;
        line-height: 14px;
        text-align: center;
        border-radius: 14px;
        color: #fff;
        padding: 1px 3px;
        font-size: 12px;
      }
      a{
        color: red;
        font-size: 12px;
        text-align: center;
        
      }
    }
  }
  .hearder_inner{
    .gzcard{
      width: 80px;
      height: 80px;
      float: right;
      margin: 17px 0 0;
    }
  }

  .common-nav{
    width: 100%;
    background-color: #FC002D;
    min-width: 1200px;
    height: 35px;
    .nav{
      width: 1200px;
      margin: 0 auto;
        .nav_category{
          float: left;
          text-align: center;
          background-color: #DF022D;
          margin-right: 10px;
          a{
            width: 230px;
            display: block;
            font-size: 16px;
            color: #fff;
            height: 35px;
            line-height: 35px;
            float: left;
            
          }
        }
        .nav_list{
          float: left;
          li{
            width: 115px;
            float: left;
            text-align: center;
            a{
              width: 115px;
              height: 35px;
              line-height: 35px;
              color: #fff;
              font-size: 16px;
              text-align: center;
              display: inline-block;
            }
            :hover{
              background-color: #DF022D;
            }
            span{
              display: inline-block;
            }
          }
          :hover{
            background-color: #DF022D;
          }
          .more{
            position: relative;
          }
          .more:hover span{
            transform: rotate(180deg);
          } 
          .more:hover ul{
            display: block;
          }
          .more {
            ul{
            position: absolute;
            top: 35px;
            left: 0px;
            width: 115px;
            overflow: hidden;
            background-color: #DF022D;
            display: none;
            z-index: 10;
            li{
              a{
                text-align: left;
                text-indent: 20px;
              }
            }
            :hover{
              background-color: #C30008;
            }
          }
        }
        }
      }
    }

    .message{
      width: 1200px;
      margin: 0 auto;
      .hosurl{
        width: 100%;
        color: #d3ccd3;
        a{
          color: #d3ccd3;
        }
      }
      .goodinfo{
        overflow: hidden;
        .goodleft{
          float: left;
          .goodimgs{
            width: 450px;
            height: 450px;
            img{
              width: 450px;
              height: 450px;
            }
          }
        }
        .minimg{
          width: 460px;
          overflow: hidden;
          li{
            float: left;
            width: 60px;
            height: 60px;
            background-color: red;
            margin-left: 5px;
            img{
              width: 60px;
              height: 60px;
            }
          }
        }
      }
      .goodright{
        width: 728px;
        height: 262px;
        float: right;
        margin-top: 55px;
        .goodname{
          min-height: 26px;
          font-size: 16px;
          line-height: 26px;
          color: #333;
          margin: 10px 0;
          font-weight: 700;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .goodprice{
          width: 100%;
          height: 80px;
          line-height: 80px;
          background: #f8f8f8;
          margin-top: 10px;
          font-size: 0;
          :nth-child(1){
            font-size: 12px;
            color: #999;
            display: inline-block;
            margin-left: 10px;
          }
          :nth-child(2){
            font-size: 16px;
            font-weight: 700;
            color: #fc002e;
            margin-left: 20px;
            display: inline-block;
          }
        }
        .num{
          overflow: hidden;
          p{
            float: left;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid black;
            text-align: center;
            margin: 20px 5px;
            
          }
          :first-child{
            border: none;
            width: 50px;
            font-size: 12px;
            color: #999;
          }
        }
      }
      .addcart{
        width: 150px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: -webkit-gradient(linear,left top,right top,from(#fc4164),to(#fc002d));
    border-radius: 2px;
    margin-left: 79px;
    margin-top: 30px;
      }
    }

    .goodwell{
      overflow: hidden;
      margin-top: 50px;
      .hotgood{
        width: 230px;
        height: 500px;
        float: left;
        background-color: red;
        .hottit{
          height: 36px;
          color: #333;
          font-size: 12px;
          background-color: #f8f8f8;
          line-height: 36px;
          text-indent: 12px;
          border-bottom: 1px solid #f0f0f0;
        }
      }
      .goodint{
        width: 958px;
        float: left;
        margin-left: 10px;
        .int{
          height: 36px;
          color: #333;
          font-size: 12px;
          background-color: #f8f8f8;
          line-height: 36px;
          text-indent: 12px;
          border-bottom: 1px solid #f0f0f0;
        }
        .settings{
          
            li:last-child{
              border-bottom: 1px solid black;   
            }
          li{
            overflow: hidden;
            p{
              float: left;
              height: 49px;
              line-height: 49px;
              text-indent: 20px;
            }
            .name{
              width: 190px;     
              border-top: 1px solid black;  
              border-left: 1px solid black;   
              border-right: 1px solid black;     
            }
            .set{
              width: 760px;
              border-top: 1px solid black;  
              border-right: 1px solid black;  
            }
          }
        }
      }
    }

.foot{
    width: 100%;
    background-color: #302E2E;
    }