<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>政府采购_企业采购</title>
<link rel="stylesheet" href="./style/reset.css">
<link rel="stylesheet" href="./style/index.css">
<link rel="stylesheet" href="../style/iconfont.css">
<link rel="stylesheet" href="../style/swiper-bundle.css">
</head>
<body>

  <div class="warp">
      <div class="header"></div>
      <div class="advert"></div>

      <div class="heardNew">

         <div class="hearder_inner">
          <a href="#" class="logo"></a>
          <div class="search">
            <div class="search_top">
              <i class="iconfont icon-49"></i>
              <input type="text" maxlength="50" placeholder="找找您想要的产品" />
              <span >搜 索</span>
              
            </div>
            <div class="search_bottom">
                <ul>
                  <li><a href="#">激光打印机</a><span></span></li>
                  <li><a href="#">商用显示</a><span></span></li>
                  <li><a href="#">投影机</a><span></span></li>
                  <li><a href="#">复印机</a><span></span></li>
                  <li><a href="#">硒鼓</a><span></span></li>
                  <li><a href="#">墨盒</a></li>
                </ul>
            </div>
          </div>

          <div class="mycart">
            <span class="iconfont icon-huaban5"></span>
            <span class="cartnum">0</span>
            <a href="shopcart.html">我的购物车</a>
          </div>

          <div class="gzcard">
            <img src="./image/gzcard1.png">
          </div>
        </div>

      </div> 

      <div class="common-nav">
        <div class="nav">
          <div class="nav_category">
            <a href="#">全部商品分类</a>
          </div>
          <ul class="nav_list">
            <li><a href="#">解决方案馆</a></li>
            <li><a href="#">政府采购</a></li>
            <li><a href="#">企业采购</a></li>
            <li><a href="#">福利采购</a></li>
            <li class="more">
              <a href="#">
                中在指数
                <span class="iconfont icon-sanjiaoxing"></span>
              </a>
              <ul>
                <li><a href="#">价格指数</a></li>
                <li><a href="#">销量指数</a></li>
                <li><a href="#">交易指数</a></li>
                <li><a href="#">品牌指数</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="content">
        <div class="content_list">

          <div class="content_left">
            
            <ul>
              <li class="pclist"><span class="iconfont icon-diannao"></span><a href="#">电脑 / 超级本 / 台式电脑</a>
              <div class="conionfo">
                <h4>笔记本</h4>
                <ul>
                  <li><a href="productlist.html">笔记本电脑</a></li>
                  <li><a href="productlist.html">笔记本电池</a></li>
                  <li><a href="productlist.html">笔记本包</a></li>
                  <li><a href="productlist.html">笔记本支架</a></li>
                  <li><a href="productlist.html">笔记本膜</a></li>
                  <li><a href="productlist.html">笔记本清洁</a></li>
                </ul>
                  <h4>笔记本</h4>
                <ul>
                  <li><a href="#">笔记本电脑</a></li>
                  <li><a href="#">笔记本电池</a></li>
                  <li><a href="#">笔记本包</a></li>
                  <li><a href="#">笔记本支架</a></li>
                  <li><a href="#">笔记本膜</a></li>
                  <li><a href="#">笔记本清洁</a></li>
                </ul>
              </div></li>
              <li><span class="iconfont icon-icon-test"><a href="#">办公打印 / 投影 / 监控 / 软件</a>
              <div class="conionfo">
                <h4>笔记本</h4>
                <ul>
                  <li><a href="#">笔记本电脑</a></li>
                  <li><a href="#">笔记本电池</a></li>
                  <li><a href="#">笔记本包</a></li>
                  <li><a href="#">笔记本支架</a></li>
                  <li><a href="#">笔记本膜</a></li>
                  <li><a href="#">笔记本清洁</a></li>
                </ul>
                  <h4>笔记本</h4>
                <ul>
                  <li><a href="#">笔记本电脑</a></li>
                  <li><a href="#">笔记本电池</a></li>
                  <li><a href="#">笔记本包</a></li>
                  <li><a href="#">笔记本支架</a></li>
                  <li><a href="#">笔记本膜</a></li>
                  <li><a href="#">笔记本清洁</a></li>
                </ul>
              </div></li>
              <li><span class="iconfont icon-chuifengji"><a href="#">厨卫电器 / 小家电 / 生活家电</a>
              <div class="conionfo"></div></li>
              <li><span class="iconfont icon-chufangdianqi"><a href="#">大家电 / 影音电视 / 游戏机</a>
                <div class="conionfo"></div></li>
              <li><span class="iconfont icon-shouji"><a href="#">手机 / 智能手机 / 通讯产品</a>
                <div class="conionfo"></div></li>
              <li><span class="iconfont icon-MP-xian"><a href="#">数码产品 / MP3 / 移动电源</a>
                <div class="conionfo"></div></li>
              <li><span class="iconfont icon-shuma-danfan"><a href="#">数码相机 / 单反 / 数码摄像机</a>
                <div class="conionfo"></div></li>
              <li><span class="iconfont icon-xinpian"><a href="#">服务器 / 网络 / 无线 / 布线</a>
                <div class="conionfo"></div></li>
              <li><span class="iconfont icon-xingzhuang"><a href="#">DIY硬件 / 外设 / 模拟攒机</a>
                <div class="conionfo"></div></li>
              <li><span class="iconfont icon-pingbandiannao-"><a href="#">平板电脑 / 智能穿戴 / 智能家居</a>
                <div class="conionfo"></div></li>
              <li><span class="iconfont icon-qiche"><a href="#">汽车电子 / 电动车 / 代步出行</a>
                <div class="conionfo"></div></li>
            </ul>
          </div>
          <div class="content_middle">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../image/banner1.jpg"></div>
                <div class="swiper-slide"><img src="../image/banner2.jpg"></div>
                <div class="swiper-slide"><img src="../image/banner4.jpg"></div>
                <div class="swiper-slide"><img src="../image/banner5.jpg"></div>
                <div class="swiper-slide"><img src="../image/banner6.jpg"></div>
              </div>
              <!-- 如果需要分页器 -->
              <div class="swiper-pagination"></div>
              
              <!-- 如果需要导航按钮 -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              
              <!-- 如果需要滚动条 -->
              <!-- <div class="swiper-scrollbar"></div> -->
            </div>
          </div>
          <div class="content_right">
              <div class="login">
                <ul>
                  <li class="active"><a href="#">会员登入</a></li>
                  <li><a href="#">供应商登入</a></li>
                </ul> 
                
                <div class="show_login show">
                  <input type="text" placeholder="手机号/邮箱/用户名">
                  <input type="password" placeholder="密码">
                  <button>登录</button>
                  <div class="forget">
                    <p><a href="#">忘记密码</a></p>
                    <p><a href="#">注册</a></p>
                  </div>
                </div>
                <div class="show_login">
                  <input type="text" placeholder="供应商号">
                  <input type="password" placeholder="验证码">
                  <button>登录</button>
                  <div class="forget">
                    <p><a href="#">忘记密码</a></p>
                    <p><a href="#">联系客户</a></p>
                  </div>
                </div>
              </div>
              <div class="news">
                <a href="#">
                  <div><img src="../image/news1.png"></div>
                  极速体验
                </a>
                <a href="#">
                  <div><img src="../image/news2.png"></div>
                  优采保障
                </a>
                <a href="#">
                  <div><img src="../image/news3.png"></div>
                  售后无忧
                </a>
                <a href="#">
                  <div><img src="../image/news4.png"></div>
                  专属客服
                </a>
              </div>
          </div>

        </div>
      </div>

      <div class="C-home-popular">
        <div class="home-popular">
            <div class="popular_title">
              <p>热门采购</p>
              <div class="refresh">
                换一换
                <span class="iconfont icon-shuaxin"></span>
              </div>
            </div>
            <div class="popular_content">
              <!-- <div class="popular_item">
                  <div class="proimg"><img src='../image/phone1.jpg'></div>
                  <p class="proname">荣耀畅玩5X（KIW-ULOO/双4G）</p>
                  <p class="proprice">￥698.00</p>
                  <button class="proshop">立即采购</button>
              </div> -->
            </div>
        </div>
      </div>

      <div class="wrbanner">
        <div>
          <img src="../image/wrbanner1.jpg">
        </div>
      </div>
      
      <div class="catgegory">
        <div class="catgegory_info">
          <!-- <div class="catgegory_title_box">
            <p>办公设备/办公耗料</p>
            <p>
              <a href="#">办公打印</a>
              <a href="#">考勤门禁系统</a>
              <a href="#">投影</a>
              <a href="#">监控</a>
            </p>
          </div>

          <div class="catgegory_content">
              <div class="catgegory_content_banner">
                <img src="../image/catgegory.jpg">
                  <h3>优品高效</h3>
              </div>
          </div>
          <ul class="catgegory_content_proList">
            <li>
              <img src="../image/prolistli.jpg">
              <p>ThinkPad T450s(20BX002TCD)</p>
              <p>￥6699.00</p>
            </li>
            <li>
              <img src="../image/prolistli.jpg">
              <p>ThinkPad T450s(20BX002TCD)</p>
              <p>￥6699.00</p>
            </li>
            <li>
              <img src="../image/prolistli.jpg">
              <p>ThinkPad T450s(20BX002TCD)</p>
              <p>￥6699.00</p>
            </li>
            <li>
              <img src="../image/prolistli.jpg">
              <p>ThinkPad T450s(20BX002TCD)</p>
              <p>￥6699.00</p>
            </li>
            <li>
              <img src="../image/prolistli.jpg">
              <p>ThinkPad T450s(20BX002TCD)</p>
              <p>￥6699.00</p>
            </li>
            <li>
              <img src="../image/prolistli.jpg">
              <p>ThinkPad T450s(20BX002TCD)</p>
              <p>￥6699.00</p>
            </li>
            <li>
              <img src="../image/prolistli.jpg">
              <p>ThinkPad T450s(20BX002TCD)</p>
              <p>￥6699.00</p>
            </li>
            <li>
              <img src="../image/prolistli.jpg">
              <p>ThinkPad T450s(20BX002TCD)</p>
              <p>￥6699.00</p>
            </li>
           
          </ul> -->          
        </div>        
      </div>

      <div class="more_common">
        <div class="more_info">
            <div class="itop">
              <p>政府采购电商平台</p>
              <p>更多></p>
            </div>
            <div class="ibotton">
              <a href="#">
                <img src="../image/beijingcaigou.png">
                <div>北京市采购平台</div>
              </a>
              <a href="#">
                <img src="../image/hebeicaigou.png">
                <div>北京市采购平台</div>
              </a>
              <a href="#">
                <img src="../image/yangcai.png">
                <div>北京市采购平台</div>
              </a>
              <a href="#">
                <img src="../image/beijingcaigou.png">
                <div>北京市采购平台</div>
              </a>
              <a href="#">
                <img src="../image/beijingcaigou.png">
                <div>北京市采购平台</div>
              </a>
              <a href="#">
                <img src="../image/beijingcaigou.png">
                <div>北京市采购平台</div>
              </a>
              <a href="#">
                <img src="../image/beijingcaigou.png">
                <div>北京市采购平台</div>
              </a>
              <a href="#">
                <img src="../image/beijingcaigou.png">
                <div>北京市采购平台</div>
              </a>
            </div>
        </div>
      </div>

      <div class="foot"></div>
  </div>



<script src="./script/jquery-1.8.3.js" charset="utf-8"></script>
<script src="./script/index.js" charset="utf-8"></script>
<script src="./script/swiper-bundle.js"></script>

</body>
</html>