<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/particulars.css">
    <link rel="stylesheet" href="../style/iconfont.css">
    <link rel="stylesheet" href="../style/swiper-bundle.css">
</head>
<body>
    <div class="header"></div>
    <div class="heardNew">

        <div class="hearder_inner">
         <a href="#" class="logo"></a>
         <div class="search">
           <div class="search_top">
             <i class="iconfont icon-49"></i>
             <input type="text" maxlength="50" placeholder="找找您想要的产品" />
             <span >搜 索</span>
             
           </div>
           <div class="search_bottom">
               <ul>
                 <li><a href="#">激光打印机</a><span></span></li>
                 <li><a href="#">商用显示</a><span></span></li>
                 <li><a href="#">投影机</a><span></span></li>
                 <li><a href="#">复印机</a><span></span></li>
                 <li><a href="#">硒鼓</a><span></span></li>
                 <li><a href="#">墨盒</a></li>
               </ul>
           </div>
         </div>

         <div class="mycart">
           <span class="iconfont icon-huaban5"></span>
           <span class="cartnum">1</span>
           <a href="#">我的购物车</a>
         </div>

         <div class="gzcard">
           <img src="./image/gzcard1.png">
         </div>
       </div>

     </div> 
     <div class="title_news">
        
     </div>

     <div class="common-nav">
        <div class="nav">
          <div class="nav_category">
            <a href="#">全部商品分类</a>
          </div>
          <ul class="nav_list">
            <li><a href="#">解决方案馆</a></li>
            <li><a href="#">政府采购</a></li>
            <li><a href="#">企业采购</a></li>
            <li><a href="#">福利采购</a></li> 
            <li class="more">
              <a href="#">
                中在指数
                <span class="iconfont icon-sanjiaoxing"></span>
              </a>
              <ul>
                <li><a href="#">价格指数</a></li>
                <li><a href="#">销量指数</a></li>
                <li><a href="#">交易指数</a></li>
                <li><a href="#">品牌指数</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="message">
        <div class="hosurl">
          <a href="#">首页</a>>
          <a href="#">笔记本</a>
        </div>
        <div class="goodinfo"> 
          <div class="goodleft">
            <div class="goodimgs"><img src="https://mercrt-fd.zol-img.com.cn/t_s800x800f/g5/M00/01/09/ChMkJlZNTyKIR02FAAbAizUDApwAAFFtgCsPkkABsCj766.jpg"></div>
            <ul class="minimg">
              <li><</li>
              <li><img src="https://mercrt-fd.zol-img.com.cn/t_s800x800f/g5/M00/01/09/ChMkJlZNTyKIR02FAAbAizUDApwAAFFtgCsPkkABsCj766.jpg"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>></li>
            </ul>
          </div>
          <div class="goodright">
              <p class="goodname">sdasdasdasasda</p>
              <div class="goodprice">
                <span>价格：</span>
                <span>$789789</span>
              </div>
              <div class="num"><p>数量：</p><p>-</p><p>1</p><p>+</p></div>
              <div class="addcart" id="clis">加入购物车</div>
          </div>
        </div>
        <div class="goodwell">
          <div class="hotgood">
            <div class="hottit">
              <p>热门商品</p>
            </div>
          </div>
          <div class="goodint">
            <p class="int">商品介绍</p>
            <p>基本参数</p>
            <ul class="settings">
              
              <li><p class="name">屏幕尺寸</p><p class="set">14寸 1600*900</p></li>
              <li><p class="name">屏幕尺寸</p><p class="set">14寸 1600*900</p></li>
              <li><p class="name">屏幕尺寸</p><p class="set">14寸 1600*900</p></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="foot"></div>
    <script src="./script/jquery-1.8.3.js" charset="utf-8"></script>
    <script src="./script/particulars.js" charset="utf-8"></script>
    <script src="./script/swiper-bundle.js"></script>
    <script src="../script/utils.js"></script>
</body>
</html>