<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/shopcart.css">
    <link rel="stylesheet" href="../style/iconfont.css">
    <link rel="stylesheet" href="../style/swiper-bundle.css">
</head>
<body>
    <div class="header"></div>
    <div class="heardNew">

        <div class="hearder_inner">
         <a href="#" class="logo"></a>
         <div class="search">
           <div class="search_top">
             <i class="iconfont icon-49"></i>
             <input type="text" maxlength="50" placeholder="找找您想要的产品" />
             <span >搜 索</span>
             
           </div>
           <div class="search_bottom">
               <ul>
                 <li><a href="#">激光打印机</a><span></span></li>
                 <li><a href="#">商用显示</a><span></span></li>
                 <li><a href="#">投影机</a><span></span></li>
                 <li><a href="#">复印机</a><span></span></li>
                 <li><a href="#">硒鼓</a><span></span></li>
                 <li><a href="#">墨盒</a></li>
               </ul>
           </div>
         </div>

         <div class="mycart">
           <span class="iconfont icon-huaban5"></span>
           <span class="cartnum">1</span>
           <a href="#">我的购物车</a>
         </div>

         <div class="gzcard">
           <img src="./image/gzcard1.png">
         </div>
       </div>

     </div> 
     <div class="title_news">
        
     </div>

     <div class="common-nav">
        <div class="nav">
          <div class="nav_category">
            <a href="#">全部商品分类</a>
          </div>
          <ul class="nav_list">
            <li><a href="#">解决方案馆</a></li>
            <li><a href="#">政府采购</a></li>
            <li><a href="#">企业采购</a></li>
            <li><a href="#">福利采购</a></li> 
            <li class="more">
              <a href="#">
                中在指数
                <span class="iconfont icon-sanjiaoxing"></span>
              </a>
              <ul>
                <li><a href="#">价格指数</a></li>
                <li><a href="#">销量指数</a></li>
                <li><a href="#">交易指数</a></li>
                <li><a href="#">品牌指数</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="cartinfo">
        <!-- <div class="nogoods">        
        <img src="https://icon.zol-img.com.cn/ucdn/b-zol-com/1.0.2/img/shopping.f3cf1f2a.png">
        <p>购物车没有商品，快去勾选吧~</p>
        <a href="index.html">去首页</a>
      </div> -->
        <div class="goodtitle">
            <p>商品信息</p>
            <p>单价</p>
            <p>数量</p>
            <p>金额</p>
            <p>操作</p>
        </div>
        <ul class="goodinfo">          
          <li class="info">
            <img src="https://mercrt-fd.zol-img.com.cn/t_s400x400/g5/M00/01/09/ChMkJlZNTyKIR02FAAbAizUDApwAAFFtgCsPkkABsCj766.jpg">
            <p>ThinkPad T450s(20BX002TCD)</p>
            <p>456789</p>
            <p class="subnum">-</p><p class="num">1</p><p class="addnum">+</p>
            <p>123456</p>
            <p>删除</p>
          </li>
          
          
        </ul>
        <div class="cartbox">
          <p class="clearall">清空购物车</p>
        <div class="goprice">
          <p class="allprice">0</p>
          <p class="go">去结算</p>
        </div>
      </div> 
      </div>
      
      <div class="foot"></div>
    <script src="./script/jquery-1.8.3.js" charset="utf-8"></script>
    <script src="./script/shopcart.js" charset="utf-8"></script>
    <script src="./script/swiper-bundle.js"></script>
</body>
</html>